/* =========================
   BASE
========================= */
@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";

/* =========================
   LAYOUT
========================= */
@import "./layout/header.css";
@import "./layout/footer.css";

/* =========================
   COMPONENTS
========================= */
@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/forms.css";

/* =========================
   PAGES
========================= */
@import "./pages/home.css";
@import "./pages/products.css";
@import "./pages/product-detail.css";
@import "./pages/cart.css";
@import "./pages/auth.css";
@import "./pages/profile.css";
@import "./pages/orders.css";
