.hero {
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  height: 100%;
  background: rgba(0,0,0,.55);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
